<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- URL 스키마를 확인하기 위한 <queries> 섹션을 추가합니다. -->
    <!-- API 레벨 30 이상에서 필요한 가시성 구성을 제공합니다. -->
    <queries>
        <!-- 앱이 SMS 지원을 확인하는 경우 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- 앱이 url 지원을 확인하는 경우 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- 앱이 필요한 다른 URL 스키마를 확인하는 경우 여기에 추가하세요. -->
    </queries>

    <application
        android:label="toooons"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 이하 코드는 건드리지 마세요. Flutter 도구에서 생성된 GeneratedPluginRegistrant.java를 생성하는 데 사용됩니다. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
